  <div class="container">
    <nav class="navserviciosgeneral">
        <div>Servicio de patrulleros </div>
    </nav>
  </div>

  <div class="divselectpeloton">
    <select id="peloton">
      <option value="alfa">Alfa</option>
      <option value="beta">Beta</option>
      <option value="gama">Gama</option>
    </select>
    <button (click)="getpeloto()" >
      selecionar peloton
    </button>
    <button class="addpuesto"(click)="anadircabecera()" >
      añadir slot
    </button>
  </div>

  <div class="cont-lis-efec-disp">
    <div>
      @if (efectivosdisponiblesdata.length>0) {
            @for (item of efectivosdisponiblesdata; track $index) {
              <p>{{item.nombregrado}} {{item.nombre}} {{item.apellido}}</p>
            }
          }@else {
            <p>no hay efectivos</p>
          }
        </div>
    <div class="container">
      <div class="containerlistapatrulleros">
        @for (idcabe of listadetalle; track $index) {
          @if(idcabe.efectivos.length>0){
            <div class="id">
              <div class="cajabox">
                @if (!habilitabooneliminartodoslospnp) {
                      <button
                      (click)="openDialog(idcabe)">
                      <mat-icon  class="mat-icon-deleted-cabe">deleted</mat-icon>
                       </button>
                  }

                <div class="subboxid">
                    <button class="btnefectivosdisponibles"  (click)="efectivosdisponibles(idcabe.idcabecerapuesto)">
                      <mat-icon  class="button-add">add</mat-icon>
                    </button>
                </div>
                <div class="cajanombre">

                  @if(idcabe.efectivos.length>0){
                    @for (pnp of idcabe.efectivos; track $index) {
                      @if (pnp.areatrabajo.descripcion==peloton){
                        <div class="nombres">
                          <div> {{pnp.grado.nombregrado}} {{pnp.apellido}} {{pnp.nombre}}
                          </div>
                          <div> <button (click)="quitarpnpdecabecera(pnp.cip)"><mat-icon class="mat-icon-deleted">deleted</mat-icon> </button></div>
                          <div class="cargo">{{pnp.cargo.nombrecargo}}</div>
                        </div>
                      }
                    }
                  }@else {
                    nada
                  }


                </div>
                <div class="uumm">
                      @if (idcabe?.mobil?.descripcion) {
                        <button class="editmobil" (click)="abrirdialogmobilesdisponibles(idcabe.idcabecerapuesto, idcabe.mobil.idunidadmobil,idcabe.mobil.descripcion)">
                         {{idcabe.mobil.descripcion}}</button>
                        }@else {
                          <button (click)="abrirdialogsinvparametros(idcabe.idcabecerapuesto)">asigne una unidad</button>
                        }
                </div>
                <div class="puesto">
                  <div>
                    @if(idcabe?.puesto?.descripcionpuesto){
                      <button class="editpuestopat" (click)="abrirdialogpuestopat(idcabe.puesto.idpuesto, idcabe.idcabecerapuesto)">{{idcabe.puesto.descripcionpuesto}}</button>
                      }@else {
                        <button (click)="abrirdialogpuestosinasignar(idcabe.idcabecerapuesto)">asigne un puesto</button>
                    }
                  </div>
                </div>
               </div>
              </div>
            }@else if(idcabe.efectivos.length<1 ) {
              <div class="id">
                <div class="cajabox">
                  @if (!habilitabooneliminartodoslospnp) {
                        <button
                        (click)="openDialog(idcabe)">
                        <mat-icon  class="mat-icon-deleted-cabe">deleted</mat-icon>
                         </button>
                    }

                  <div class="subboxid">
                      <button class="btnefectivosdisponibles"  (click)="efectivosdisponibles(idcabe.idcabecerapuesto)">
                        <mat-icon  class="button-add">add</mat-icon>
                      </button>
                  </div>

                  <div class="cajanombre">
                    @if(idcabe.efectivos.length>0){
                      @for (pnp of idcabe.efectivos; track $index) {
                        @if (pnp.areatrabajo.descripcion==peloton){
                          <div class="nombres">
                            <div> {{pnp.grado.nombregrado}}{{pnp.apellido}} {{pnp.nombre}}
                            </div>
                            <div> <button (click)="quitarpnpdecabecera(pnp.cip)"><mat-icon class="mat-icon-deleted">deleted</mat-icon> </button></div>
                            <div class="cargo">{{pnp.cargo.nombrecargo}}</div>
                          </div>
                        }
                      }
                    }@else {
                     <div class="disponible_a_eliminar">
                      <p> disponible a eliminar</p>
                    </div>
                    }
                  </div>
                  <div class="uumm">
                        @if (idcabe?.mobil?.descripcion) {
                          <button class="editmobil" (click)="abrirdialogmobilesdisponibles(idcabe.idcabecerapuesto, idcabe.mobil.idunidadmobil,idcabe.mobil.descripcion)">
                           {{idcabe.mobil.descripcion}}</button>
                          }@else {
                            <button (click)="abrirdialogsinvparametros(idcabe.idcabecerapuesto)">asigne una unidad</button>
                          }
                  </div>
                  <div class="puesto">
                    <div>
                      @if(idcabe?.puesto?.descripcionpuesto){
                        <button class="editpuestopat" (click)="abrirdialogpuestopat(idcabe.puesto.idpuesto, idcabe.idcabecerapuesto)">{{idcabe.puesto.descripcionpuesto}}</button>
                        }@else {
                          <button (click)="abrirdialogpuestosinasignar(idcabe.idcabecerapuesto)">asigne un puesto</button>
                      }
                    </div>
                  </div>
                 </div>
                </div>
            }


          }

          </div>
        </div>
        <div class="uummdisponibles">

          @if (dtomobilesdisponibles.length) {
            @for (item of dtomobilesdisponibles; track $index) {
            <div class="">
              <span class="">{{item.descripcion}}</span>
            </div>
          }
          }@else {
            <div>no hay unidades mobiles disponibles</div>
          }

    </div>
  </div>




