.containerlistapatrulleros{
display: flex;
flex-direction: column;
border-top: solid 1px black;
border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;
}

p{
 color: rgb(74, 72, 72);
 font-family: 'Roboto';
 font-size: 14px;
 margin-left: 10px;
}

.id{
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-radius: 10px;

  position: relative;
}
.subboxid{
  width: 3%;
}

.cajabox{
  display: flex;
  border-bottom:solid 1px black;
  border-radius: 10px;
}

.subboxid{
  border-radius: 10px;
  border-right: solid 1px black;
}

.cajanombre{
  width: 50%;
  color: rgb(74, 72, 72);
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: 10px;
}


.uumm{
  width: 14%;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.nombres{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-size: 14px;

}

.subnombre{

}

.cargo{
border-left: solid 1px ;
width: 20%;
overflow: hidden;
}


.mat-icon-add{
  color: rgb(81, 81, 82);
}
.btnefectivosdisponibles{

}

.btnefectivosdisponibles :hover{
  background-color: #1850ea;
  border-radius: 10px;
}

.button-add{
  position: relative;
  color: rgb(29, 222, 103);
  opacity: 50%;
}

button{
  background-color: transparent;
  border: none;
}
.mat-icon-deleted, .mat-icon-edid{
  font-size: 15px;
}
.mat-icon-deleted:hover, .mat-icon-edid:hover{
  color: rgb(87, 209, 39);
}

.cont-lis-efec-disp{
  display: flex;
  justify-content: center;
}

.cont-lis-efec-disp >:nth-child(1){
  background-color: rgb(239, 246, 246);
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  transition:0.5s;
  padding: 5px;

}
p{

}
.disponible_a_eliminar{
  font-family: 'roboto';
  font-size: 14px;
  text-align: center;

}

@media (max-width: 480px) {
  .cont-lis-efec-disp > :nth-child(1) {
    width: 05px;
    height: 100px;
    background: rgb(109, 184, 254);
    position: absolute;
    top: auto;
    left: 0;
    overflow: hidden; /* Oculta el contenido excedente */
  }

  .cont-lis-efec-disp > :nth-child(1) > * { /* Selecciona todos los elementos hijos */
    opacity: 0; /* Hace que el contenido sea invisible */
    pointer-events: none; /* Evita que los elementos sean interactuables */
  }

  .cont-lis-efec-disp > :nth-child(1):hover {
    width: 150px;
    height: auto;
    background-color:rgba(76, 113, 186, 0.1);
    backdrop-filter: blur(3px);
    color: white;
    border: solid 1px;
  }
  .cont-lis-efec-disp > :nth-child(1):hover > * {
    opacity: 1; /* Restaura la visibilidad del contenido */
    pointer-events: auto; /* Restaura la interactividad */
  }
}

.tex{
  padding-left: 10px;
}

.tex:hover{
  color: rgb(71, 93, 140);
}

.peloton{
  border: solid 1px black;
}


.editmobil{
  background-color: rgb(117, 130, 246);
  color: rgb(249, 250, 249);
  width: 100%;
  height: 100%;
  border: none;
  font-family: 'Roboto';
  font-weight: bold;
}


.editmobil:hover{
  background-color: rgb(201, 246, 205);
  color: black;
}

.editpuestopat:hover{
  background-color: rgb(201, 246, 205);
  color: black;
}


.uummdisponibles{
  background-color: rgb(239, 246, 246);
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;

}

.uummdisponibles div{
  color: gray;
}


@media(max-width:480px){
  .uummdisponibles{
  width: 10px;
  height: 100px;
  background: rgb(109, 184, 254);
  position: absolute;
  top: auto;
  right: 0;
  overflow: hidden;

}
.uummdisponibles>*{
  opacity: 0;
}
}
.colorcambiante{
  background-color: yellow; /* Cambia según el efecto deseado */
  transition: background-color 0.5s ease-in-out;
}
.divselectpeloton{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}
.divselectpeloton select{
  color: rgb(59, 61, 66);
  font-size: 15px;
  padding: 05px;
  border: solid transparent;
  border-radius:10px  ;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  width: 50%;
  padding-left: 20px;
}

.divselectpeloton button{
  background: #0a5c44;
  font-family: 'Roboto';
  color: white;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding-left : 20px;
  padding-right: 20px;

}

.divselectpeloton button:hover{
background:rgb(180, 214, 130);
}


.navserviciosgeneral{
  background-color: #040e0d;
  width: 100%;
}

.navserviciosgeneral div{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: initial;
  font-size: 15px;
  text-align: center;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;

}

@keyframes slidein{
0%{
  margin-left: 100%;

}50%{
  margin-left: 0%;

}50%{
  margin-left: 100%;
}
}
.addpuesto{
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  color: aliceblue;
}
.addpuesto:hover{
  background-color: rgb(184, 223, 124);
  transition: 0.5¿3s;

}


.mat-icon-deleted-cabe{
  font-size: 15px;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.mat-icon-deleted-cabe:active{
  font-size: 40px;
}




