<div class="boxcontainer">
  <div>
    Lista de efectivos disponibles
  </div>

  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      @for (item of pnpdisponible; track $index) {
      <tr>
        <td>{{item.apellido}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.nombrecargo}}</td>
        <td>{{item.cip}}</td>
        <td>
          <button (click)="addpnpcabecera(item.cip)"><mat-icon class="person_add" >person_add</mat-icon></button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
